@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap");
/*  Custom CSS Reset by Josh Comeau  */
*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0; }

html, body {
  height: 100%; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

input, button, textarea, select {
  font: inherit; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

/*  https://www.joshwcomeau.com/css/custom-css-reset/  */
body {
  background-color: #080705; }

.hero {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 70vh;
  margin-bottom: 15rem;
  position: relative; }
  .hero__title {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 1.1;
    color: #fff;
    text-align: start; }
  .hero__para {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 100; }
  .hero__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start; }
  .hero__btn {
    display: block;
    width: fit-content;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
    background: #088EDA;
    color: #fff;
    padding: 10px;
    margin-top: 2rem; }
  .hero__secBtn {
    display: block;
    width: fit-content;
    font-size: 1.8rem;
    text-decoration: none;
    border: 2px solid #088EDA;
    color: #088EDA;
    padding: 10px 20px;
    margin-top: 2rem;
    margin-left: 2rem; }
  .hero__img {
    width: 500px; }
  .hero__icon {
    width: 200px;
    color: #0046FF; }

.nav {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px; }
  .nav__logo {
    background-color: rgba(0, 0, 0, 0.3);
    width: 150px;
    padding: 10px; }
  .nav__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 0; }
  .nav__link {
    text-decoration: none;
    color: #088EDA;
    margin: 0 0.5rem; }
    .nav__link-login {
      text-decoration: none;
      margin: 0 0.5rem;
      padding: 0.5rem;
      font-size: 1.5rem;
      background-color: #088EDA;
      color: #fff; }

.card {
  display: block;
  position: relative;
  min-height: 100vh;
  z-index: 1;
  padding-top: 5rem;
  max-width: 1320px;
  margin: 0 auto; }
  .card__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
  .card__add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 280px;
    margin: auto;
    position: relative; }
    .card__add::after {
      content: '';
      width: 60px;
      height: 60px;
      position: absolute;
      background-color: blueviolet;
      border-radius: 100%;
      z-index: -1;
      transition: all 0.5s ease; }
  .card-s__cont {
    position: relative;
    height: 400px;
    width: 280px;
    margin: 1rem;
    box-shadow: 10px 10px #088EDA;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    overflow: hidden;
    transition: all 1s; }
    .card-s__cont::after {
      content: '';
      width: 60px;
      height: 60px;
      background-color: #088eda;
      border-radius: 100%;
      position: absolute;
      bottom: 2rem;
      right: 1rem;
      z-index: 2;
      transition: all 0.5s ease; }
    .card-s__cont:hover .card-s__para {
      visibility: visible; }
    .card-s__cont:hover .card-s__btn {
      visibility: visible; }
    .card-s__cont:hover .card-s__img {
      filter: grayscale(0); }
    .card-s__cont:hover .fa-html5 {
      color: #F06529; }
    .card-s__cont:hover .fa-css3-alt {
      color: #264DE4; }
    .card-s__cont:hover .fa-bootstrap {
      color: #563D7C; }
    .card-s__cont:hover .fa-js {
      color: #F0DB4F; }
    .card-s__cont:hover .fa-angular {
      color: #DD1B16; }
    .card-s__cont:hover::after {
      transform: scale(15);
      background-color: rgba(8, 142, 218, 0); }
  .card-s__title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    text-align: end;
    padding-right: 0.8rem;
    z-index: 10;
    text-transform: uppercase; }
  .card-s__sub {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    text-align: end;
    padding-right: 0.8rem;
    z-index: 10; }
  .card-s__para {
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
    text-align: end;
    visibility: hidden;
    padding-right: 0.8rem;
    z-index: 10;
    transition: visibility-visible 0.5s ease; }
  .card-s__img {
    position: absolute;
    object-fit: cover;
    margin: 0;
    padding: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: grayscale(100%); }
  .card-s__btn {
    background-color: #088EDA;
    color: #fff;
    padding: 0.1rem 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    visibility: hidden;
    margin-top: 0.8rem;
    margin-right: 0.8rem;
    z-index: 10;
    transition: visibility-visible 0.5s ease; }
  .card__bg {
    background-color: #0086ff; }

.flex__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto; }

.flex__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.fa-brands {
  transition: all 0.2s; }

.fa-plus {
  color: #fff;
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  padding: 0; }

.dark {
  color: #000; }

.aboutme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  border-top: 1px solid #5A5E65;
  padding: 5rem 0;
  height: 65vh;
  overflow: hidden;
  z-index: 10; }
  .aboutme__img {
    width: 80%;
    height: 80%;
    filter: grayscale(1); }
  .aboutme__title {
    color: #fff;
    font-size: 2rem;
    font-weight: 600; }
  .aboutme__sub {
    color: #000; }
  .aboutme__para {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 100; }
  .aboutme__btn {
    font-size: 1.5rem; }
  .aboutme__col-l {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 30%; }
  .aboutme__col-r {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 70%; }

hr {
  max-width: 1320px;
  margin: 5rem auto; }

.exp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  max-width: 1320px;
  margin: auto;
  border-top: 1px solid #5A5E65;
  padding: 5rem 0; }
  .exp__title {
    font-size: 2rem;
    color: #fff; }

.edu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  max-width: 1320px;
  margin: auto;
  border-top: 1px solid #5A5E65;
  padding: 5rem 0; }
  .edu__title {
    font-size: 2rem;
    color: #fff; }

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  max-width: 1320px;
  margin: auto;
  border-top: 1px solid #5A5E65;
  padding: 5rem 0; }
  .skills__title {
    font-size: 2rem;
    color: #fff; }

.port {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 1320px;
  margin: auto;
  border-top: 1px solid #5A5E65;
  padding: 5rem 0; }
  .port__title {
    font-size: 2rem;
    color: #fff; }
