@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
/*  Custom CSS Reset by Josh Comeau  */
*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0; }

html, body {
  height: 100%; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif; }

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; }

input, button, textarea, select {
  font: inherit; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

/*  https://www.joshwcomeau.com/css/custom-css-reset/  */
.nav {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px; }
  .nav__logo {
    background-color: rgba(0, 0, 0, 0.3);
    width: 200px;
    padding: 10px; }
  .nav__ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    list-style: none;
    width: 25vw;
    font-size: 2rem;
    font-weight: 300; }
  .nav__link {
    text-decoration: none;
    color: #000;
    margin: 0 0.5rem; }

.hero {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 70vh;
  margin-bottom: 15rem; }
  .hero__title {
    font-size: 5.875rem;
    line-height: 1.3; }
  .hero__para {
    font-size: 2.25rem; }
  .hero__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start; }
  .hero__btn {
    display: block;
    width: fit-content;
    font-size: 1.875rem;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-top: 2rem; }
  .hero__secBtn {
    display: block;
    width: fit-content;
    font-size: 1.875rem;
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin-top: 2rem;
    margin-left: 2rem; }
  .hero__img {
    width: 500px; }

/*.card{
    display: block;
    min-height: 100vh;
    padding-top: 5rem;
    max-width: 1320px;
    margin: 0 auto;
    &__background{
        background: rgb(255,0,108);
        background: linear-gradient(45deg, rgba(255,0,108,1) 0%, rgba(4,40,96,1) 100%);
    }
    &-title{
        @extend .hero__title;
        margin-bottom: 2rem;
    }
    &__container{
        position: relative;
        overflow: hidden;
        height: 600px;
        width: 400px;
        margin: auto;
        background-image: url("../assets/card__img.png");
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
        @include flex__config(column, start, space-between);
        &:hover{
            box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
            .card__data{
                bottom: 1rem;
            }
        }
        transition: all 1s;
    }
    &__subtitle{
        color: #fff;
        font-size: 1.5625rem;
        margin-left: 1rem;
        padding-top: 0.5rem;
    }
    &__data{
        position: absolute;
        bottom: -190px;
        transition: all 1s;
    }
    &__title{
        color: #fff;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }
    &__para{
        color: #fff;
        font-size: 1.5625rem;
        margin-left: 1rem;
    }
    &__btn{
        background-color: #fff;
        color: #000;
        padding: 0.1rem 0.5rem;
        margin-left: 1rem;
        border-radius: 30px;
        text-decoration: none;
        font-size: 1.5rem;
    }
    

    &__container2{
        position: relative;
        overflow: hidden;
        height: 500px;
        width: 1200px;
        margin: 1rem auto;
        background-image: url("../assets/card__img.png");
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
        @include flex__config(column, start, space-between);
        &:hover{
            box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
            .card__data2{
                bottom: 1rem;
            }
        }
        transition: all 1s;
    }
    &__subtitle2{
        color: #fff;
        font-size: 1.5625rem;
        margin-left: 1rem;
        padding-top: 0.5rem;
    }
    &__data2{
        position: absolute;
        bottom: -116px;
        transition: all 1s;
    }
    &__title2{
        color: #fff;
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }
    &__para2{
        color: #fff;
        font-size: 1.5625rem;
        margin-left: 1rem;
    }
    &__btn2{
        background-color: #fff;
        color: #000;
        padding: 0.1rem 0.5rem;
        margin-left: 1rem;
        border-radius: 30px;
        text-decoration: none;
        font-size: 1.5rem;
    }
}
*/
.card {
  display: block;
  position: relative;
  min-height: 100vh;
  z-index: 1;
  padding-top: 5rem;
  max-width: 1320px;
  margin: 0 auto; }
  .card-s__cont {
    position: relative;
    height: 400px;
    width: 280px;
    margin: 1rem auto;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    transition: all 1s; }
    .card-s__cont::after {
      content: '';
      width: 60px;
      height: 60px;
      background-color: blueviolet;
      border-radius: 100%;
      position: absolute;
      bottom: 2rem;
      right: 1rem;
      z-index: 2;
      transition: all 0.3s ease; }
    .card-s__cont:hover .card-s__para {
      visibility: visible; }
    .card-s__cont:hover .card-s__btn {
      visibility: visible; }
    .card-s__cont:hover .card-s__img {
      filter: grayscale(0); }
    .card-s__cont:hover::after {
      transform: scale(10);
      background-color: rgba(138, 43, 226, 0.5); }
  .card-s__title {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    text-align: end;
    padding-right: 0.8rem;
    z-index: 10;
    text-transform: uppercase; }
  .card-s__sub {
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    text-align: end;
    padding-right: 0.8rem;
    z-index: 10; }
  .card-s__para {
    color: #fff;
    font-size: 1rem;
    margin-left: 1rem;
    text-align: end;
    visibility: hidden;
    padding-right: 0.8rem;
    z-index: 10;
    transition: visibility-visible 0.5s ease; }
  .card-s__img {
    position: absolute;
    object-fit: cover;
    margin: 0;
    padding: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: grayscale(100%); }
  .card-s__btn {
    background-color: #fff;
    color: #000;
    padding: 0.1rem 0.5rem;
    margin-left: 1rem;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    visibility: hidden;
    margin-top: 0.8rem;
    margin-right: 0.8rem;
    z-index: 10;
    transition: visibility-visible 0.5s ease; }
  .card-xl__cont {
    position: relative;
    height: 500px;
    width: 1200px;
    margin: 1rem auto;
    border-radius: 30px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    transition: all 1s; }
    .card-xl__cont::after {
      content: '';
      width: 80px;
      height: 80px;
      background-color: blueviolet;
      border-radius: 100%;
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      z-index: 2;
      transition: all 0.3s ease; }
    .card-xl__cont:hover .card-xl__para {
      visibility: visible; }
    .card-xl__cont:hover .card-xl__btn {
      visibility: visible; }
    .card-xl__cont:hover .card-xl__img {
      filter: grayscale(0); }
    .card-xl__cont:hover::after {
      transform: scale(15);
      background-color: rgba(138, 43, 226, 0.5); }
  .card-xl__title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    text-align: end;
    padding-right: 1.5rem;
    z-index: 10;
    text-transform: uppercase; }
  .card-xl__sub {
    color: #fff;
    font-size: 1.5625rem;
    margin-left: 1rem;
    padding-top: 0.5rem;
    text-align: end;
    padding-right: 1.5rem;
    z-index: 10; }
  .card-xl__para {
    color: #fff;
    font-size: 1.5625rem;
    margin-left: 1rem;
    text-align: end;
    max-width: 50%;
    visibility: hidden;
    padding-right: 1.5rem;
    z-index: 10;
    transition: visibility-visible 0.5s ease; }
  .card-xl__img {
    position: absolute;
    object-fit: cover;
    margin: 0;
    padding: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    filter: grayscale(100%); }
  .card-xl__btn {
    background-color: #fff;
    color: #000;
    padding: 0.1rem 0.5rem;
    margin-left: 1rem;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.5rem;
    visibility: hidden;
    margin-right: 1.5rem;
    z-index: 10;
    transition: visibility-visible 0.5s ease; }
  .card__bg {
    background: #ff006c;
    background: linear-gradient(45deg, #ff006c 0%, #042860 100%); }

.flex__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.flex__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
