$main-color: #080705;
$acc1: #088EDA;
$acc2: #D3B88C;
$acc3: #14FFEC;
$white: #fff;
$black: #000;
$grey: #5A5E65;

$blue: #008DD5;
$orange: #FFA552;

body{
    background-color: $main-color;
}
.hero{
    position: relative;
    @include max__width;
    @include flex__config(column, center, center);
    height: 90vh;
    //margin-bottom: 15rem;
    //background-color: #212121;
    position: relative;
    &__text{
        margin-bottom: 5rem;
    }
    &__title{
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-weight: 500;
        font-size: 4.5rem;
        line-height: 1.1;
        color: $white;
        text-align: center;
    }
    &__para{
        font-size: 1.8rem;
        color: $white;
        font-weight: 100;
        text-align: center;
    }
    &__btns{
        @include flex__config(row, center, space-evenly);
    }
    &__btn{
        display: block;
        width: fit-content;
        font-size: 1.3rem;
        font-weight: 400;
        text-decoration: none;
        background: $orange;
        color: #fff;
        padding: 10px 15px;
        margin: 0rem 1rem;
        border-radius: 10px;
    }
    &__secBtn{
        display: block;
        width: fit-content;
        font-size: 1.8rem;
        text-decoration: none;
        border: 2px solid $acc1;
        color: $acc1;
        padding: 10px 20px;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    &__img{
        width: 500px;
    }
    &__icon{
        width: 200px;
        color: #0046FF;
    }
}

.custom-shape-divider-bottom-1647639369 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1647639369 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1647639369 .shape-fill {
    fill: #0C0F16;
}