body{
    background-color: #212121;
}
.hero{
    @include max__width;
    @include flex__config(row, center, space-between);
    flex-wrap: wrap;
    height: 70vh;
    margin-bottom: 15rem;
    background-color: #212121;
    position: relative;
    &__title{
        font-family: 'IBM Plex Sans Thai Looped', sans-serif;
        font-weight: 300;
        font-size: 4.5rem;
        line-height: 1.1;
        color: #fff;
        text-align: center;
        span{
            color: #0046FF;
        }
    }
    &__para{
        font-size: 1.8rem;
        color: #fff;
    }
    &__btns{
        @include flex__config(row, center, center);
    }
    &__btn{
        display: block;
        width: fit-content;
        font-size: 1.8rem;
        text-decoration: none;
        background-color: #0046FF;
        color: #fff;
        padding: 10px;
        margin-top: 2rem;
    }
    &__secBtn{
        display: block;
        width: fit-content;
        font-size: 1.8rem;
        text-decoration: none;
        color: #0046FF;
        padding: 10px;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    &__img{
        width: 500px;
    }
    &__icon{
        width: 200px;
        color: #0046FF;
    }
}
.custom-shape-divider-bottom-1644502291 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    color: #0046FF;
}